<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="EcoPortal" connectionString="Data Source=WS-PF01CX3R;Initial Catalog=EcoPortalDev;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>